<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="product_detail_ajax_update" type="Eleadtech\ProductSlider\Plugin\Controller\Product\View" sortOrder="1" />
    </type>
</config>
